In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
data=pd.read_csv("heart.csv")
data.head(5)

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [0]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [0]:
print(data.columns)

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [0]:
X=data.drop("target",axis=1)
y=data["target"]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [0]:
print("X_train =",X_train.head(5))
print("y_train=",y_train.head(5))
print("X_test=",X_test.head(5))
print("y_test=",y_test.head(5))

X_train =      age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
34    51    1   3       125   213  ...      1      1.4      2   1     2
185   44    1   0       112   290  ...      0      0.0      2   1     2
187   54    1   0       124   266  ...      1      2.2      1   1     3
147   60    0   3       150   240  ...      0      0.9      2   0     2
202   58    1   0       150   270  ...      1      0.8      2   0     3

[5 rows x 13 columns]
y_train= 34     1
185    0
187    0
147    1
202    0
Name: target, dtype: int64
X_test=      age  sex  cp  trestbps  chol  ...  exang  oldpeak  slope  ca  thal
204   62    0   0       160   164  ...      0      6.2      0   3     3
159   56    1   1       130   221  ...      0      0.0      2   0     3
219   48    1   0       130   256  ...      1      0.0      2   2     3
174   60    1   0       130   206  ...      1      2.4      1   2     3
184   50    1   0       150   243  ...      0      2.6      1   0     3

[5 rows x 13 columns]
y_test= 204    0
159    1
219    0
174    0
184    0
Name: target, dtype: int64

In [0]:
data.head(5)

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [0]:
from sklearn import svm

In [0]:
data=svm.SVC(kernel='linear')

In [0]:
model=data.fit(X_train,y_train)

In [0]:
y_pred=model.predict(X_test)

In [0]:
print(y_pred)
print()
k=np.array(y_test)
print(k)

[0 1 0 0 0 0 0 1 0 1 0 0 1 0 0 1 1 0 0 1 1 0 1 1 1 1 0 1 1 1 1 1 1 1 0 0 0
 0 1 0 1 0 0 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 0 0 1 1 1 1 1 1 0 0 0 1 1 0 1
 0 1 1 0 0 0 1 1 0 1 1 1 1 1 1 0 0]

[0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 1 0 1 0 1 0 1 1 1 1 0 1 1 1 1 1 1 1 0 1 1
 0 0 1 1 0 1 0 0 0 0 1 0 1 1 0 0 1 1 1 1 0 0 0 1 1 1 1 0 1 1 0 1 0 1 1 0 1
 0 1 0 0 0 1 1 1 0 1 1 1 1 1 1 0 0]

In [0]:
x=y_pred
m=y_test
B=np.array([m==x])
print(B)

[[ True  True  True  True  True  True  True  True  True  True False  True
  False  True  True False  True  True False False  True  True  True  True
   True  True  True  True  True  True  True  True  True  True  True False
  False  True False False  True  True False  True False False  True  True
  False  True  True False False  True  True  True  True  True False  True
  False  True  True  True False  True  True  True False  True  True  True
   True  True  True  True False  True  True False  True  True  True  True
   True  True  True  True  True  True  True]]

In [0]:
from sklearn.metrics import accuracy_score

In [0]:
from sklearn import metrics

In [52]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred)*100,'%')
print("Precision:",metrics.precision_score(y_test,y_pred)*100,'%')
print("Recall:",metrics.recall_score(y_test,y_pred)*100,'%')

Accuracy: 76.92307692307693 %
Precision: 77.35849056603774 %
Recall: 82.0 %